<h1>Choose a cocktail</h1>

<p>Or create a <%= link_to "new cocktail", new_cocktail_path %>!</p>


<% @cocktails.each do |cocktail| %>
<%= cl_image_tag cocktail.photo, height: 200, width: 200, crop: :fill %>
  <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>

  <p><%= link_to "Edit", edit_cocktail_path(cocktail) %></p>

<% end %>
